.bi-handbag-fill
{   padding: 30px;
    background-color: rgb(255, 192, 203);
    border-radius: 16px;
    color: rgb(198, 69, 90);
    font-size: 50px;
}

.percent
{
    color: rgb(255, 0, 0);
    margin-right: 1300px;
    border-radius: 16px;
    padding-left: 10px;
}

